<article class="card mx-4">
  <div class="card-body">
    <div class="title">
      <a class="card-title" href="{{post_url}}" target="_blank">{{title}}</a>
      <span>({{post_text}})</span>
    </div>
    <div>
      <a class="link-secondary" href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
    </div>
  </div>
</article>