<article class="card mx-4">
  <div class="card-body">
    <div class="title">
      <a class="card-title" href="{{post_url}}" target="_blank">{{title}}</a>
      <span>({{format_url post_url}})</span>
    </div>
    <div>
      {{vote_count}} {{format_plural "point" vote_count}} by {{user.username}} on {{format_date created_at}}
      |
      <a class="link-secondary" href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
    </div>
  </div>
</article>