<article class="card mx-4">
  <div class="card-body">
    <div class="title">
      <p class="card-title fw-bold">{{title}}</p>
      <p>{{post_text}}</p>
      <p class="text-secondary">{{user.username}} on {{format_date created_at}}</p>
    </div>
    <div>
      <a class="link-secondary" href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
    </div>
  </div>
</article>