<article class="w-50 mx-auto">
  <a href="/dashboard"> &larr; Back to dashboard</a>
  <h2>
    Edit Post
  </h2>
  <form class="edit-post-form">
    <div>
      <input class="form-control" name="post-title" type="text" value="{{post.title}}" />
      <span>({{post.post_text}})</span>
    </div>
    <div>
      {{post.vote_count}} {{format_plural "point" post.vote_count}} by you on {{format_date post.created_at}}
      |
      <a class="text-secondary" href="/post/{{post.id}}">{{post.comments.length}} {{format_plural "comment" post.comments.length}}</a>
    </div>
    <button type="submit" class="btn border my-2">Save post</button>
    <button type="button" class="btn border my-2">Delete post</button>
  </form>
</article>

<form class="w-50 mx-auto">
  <div>
    <textarea class="form-control" name="comment-body"></textarea>
  </div>

  <div>
    <button type="submit" class="btn border my-2">add comment</button>
  </div>
</form>

{{> comments post.comments}}

<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>
<script src="/javascript/comment.js"></script>